@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
body {
   font-family: 'Noto Nastaliq Urdu', serif;
   text-align: center:
   background-color: 
}
.capa {
   width: 100%;
}